.appHeading {
  top: 0;
  padding-top: 2rem;
  padding-bottom: 12px;
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--background-color-main);
}

.title {
  margin-bottom: 4px;
}

.location {
  margin-bottom: 4px;
}

.search * {
  font-size: 1.25rem;
}

.search input {
  margin-right: 4px;
  width: 10rem;
}

.search button {
  padding: 3px;
}

.venueList {
  list-style-type: none;
}
