.appHeading {
  top: 0;
  padding-top: 2rem;
  padding-bottom: 12px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #fafafa;
}

.title {
  margin-bottom: 4px;
}

.location {
  margin-bottom: 4px;
}

.search input {
  font-size: inherit;
}

.venueList {
  list-style-type: none;
}
